<!-- templates/tables_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplication Tables</title>
</head>
<body>
    <h1>Enter Your Details</h1>
    <form method="POST" action="/tables">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" required>
        <br>
        <button type="submit">Generate Tables</button>
    </form>
</body>
</html>
